body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(13, 23, 54);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #9e9e9e #ffffff;
  }

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9e9e9eb4;
    border-radius: 10px;
    border: none;
  }

.container {
  width: 100%;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid rgb(15, 26, 60);
  background: rgb(13, 23, 54);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container ul {
  list-style: none;
}

.nav-container li {
  display: inline-block;
  padding: 0 1rem;
}

.nav-container li a {
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
  color: white;
  transition: all 0.3s ease-in-out 0s;
}

.nav-container li a:hover {
  cursor: pointer;
  color: rgba(17, 255, 0, 1);
}

.nav-container h3 {
  color: white;
}

.nav-resume {
  border: 1px solid;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  padding: 0.8rem 1rem;
  font-family: 'Fira Mono', monospace;
  color: rgb(17, 255, 0);
  transition: all 0.1s ease-in 0s;
}

.nav-resume:hover {
  cursor: pointer;
  background-color: rgba(17, 255, 0, 0.1);
}

.nav-resume:active {
  transform: scale(1.1);
}

.brief-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10em 5em;
  margin-bottom: 35em;
}

.brief-welcome {
  font-family: 'Fira Mono', monospace;
  color: rgb(122, 254, 112);
}

.brief-name {
  font-family: 'Inter', sans-serif;
  font-size: 75px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.brief-desc {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.5);
  max-width: 450px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  margin: 10em 5em;
  margin-bottom: 45em;
}

.about-name {
  font-family: 'Inter', sans-serif;
  font-size: 75px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.about-container span {
  color: rgb(122, 254, 112);
  font-weight: 500;
}

.about-desc1 {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
}

.about-desc2 {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
}

.projectlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45em;
}

.projectlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
  margin: 1em;
  max-width: 650px;
  min-width: 300px;
}

.project-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(18, 30, 65);
  border-radius: 5px;
  padding: 2rem;
  transition: all 0.2s ease-in 0s;
}

.project-container:hover {
  background-color: rgb(15, 26, 60);
  border: 1px solid rgb(122, 254, 112, 0.5);
  transform: translateY(-10px);
}

.project-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.project-link {
  color: rgba(122, 254, 112, 0.5);
  transform: scale(1.5);
  transition: all 0.1s ease-in 0s;
}

.project-link:hover {
  cursor: pointer;
  color: rgba(122, 254, 112, 1);
  transform: scale(1.6);
}

.project-header h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.project-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.project-text p {
  color: rgba(255, 255, 255, 0.5);
}

.project-text span {
  font-size: 11px;
  color: rgb(122, 254, 112);
  font-family: 'Fira Mono', monospace;
  padding-right: 1.5em;
}

.project-footer {
  display: flex;
  justify-content: flex-start;
}